.button{
  box-sizing: border-box;
  height: 54px;
  width: 191px;
  position:relative;
  top:15vh;
  left:100vh;
  background: #FFFFFF;
border: 4px solid #A8A8A8;
border-radius: 10px;

}
.form{
  position: relative;
  font-size: 24px;
  left: 120px;
  top: 100px;
  color: #000000;
}
.form2{
  position: relative;
  width: 697px;
  height: 42px;
  left: 128px;
      top: 102px;
  background: #E9E9E9;
  margin-top: 20px;
}
.form1{
  position: relative;
width: 697px;
height: 42px;
left: 128px;
    top: 102px;
background: #E9E9E9;
}